extends layout

block css
  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')

block headerScripts
  script(src='/lib/angular/angular.js')


block body
  .navbar.navbar-fixed-top(ng-cloak, ng-controller="NavCtrl")
    .navbar-inner
      .container
        a.brand(href="/") 
          |Title
        ul.nav
          li(ng-repeat="navItem in navItems", ng-class="{active: isActive(navItem)}")
            a(href="{{navItem.url}}")
              |{{navItem.title}}

  .container(ng-view)

block bodyScripts
  script(src='/lib/jquery/jquery-1.9.1.js')
  script(src='/lib/bootstrap/js/bootstrap.js')
  script(src='/js/app.js')
  script(src='/js/controllers.js')
  script(src='/js/lists/controllers.js')
  script(src='/js/lists/services.js')