!!!
html
  head
    meta(charset='utf8')
    base(href='/')
    title Listr - Your List Your Way
    block css
    link(rel='stylesheet', href='/css/app.css')

    block headerScripts    
  body(ng-app="listrApp")
    block body
    block bodyScripts